body {
    background: #24353f;
    font-family:'Titillium Web', sans-serif;
}

#home {
    height: 75vh;
}

h1 {
    color: #7f30f6;
}


.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input,
textarea {
    background-color: transparent !important;
    color: #9f9999 !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(103, 103, 103) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}

p{
  font-size: 25px;
    color: rgb(12, 195, 223);
}
a{
    font-size: 25px;
    color: rgb(217, 175, 170);
    text-decoration: none;
    
   
}
button.btn{
    font-size: 20px;
}
.demo{
    margin-top: 18%;
}
#logout{
    color: rgb(255, 0, 0);
    
}
.navbar-brand{
    color: aquamarine;
}
